<div class="row">
  <aside class="col-md-4">
    <%= render 'user_info' %>
  </aside>
  
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= page_entries_info @microposts %>
        <%= render @microposts %>
        <%= paginate @microposts %>
      </ol>
    <% end %>
  </div>
</div>